<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>

<h2>Your Cart</h2>

<div th:if="${#lists.isEmpty(cartItems)}">
    <p>Your cart is empty.</p>
</div>

<div th:each="order : ${cartItems}"
     style="border:1px solid black; width:250px; padding:10px; margin:10px; display:inline-block; text-align:center;">

    <img th:src="${order.product.img}" width="150" height="180"><br><br>

    <b th:text="${order.product.name}">Product Name</b><br>

    Quantity: <span th:text="${order.quantity}"></span><br>

    Price: $<span th:text="${order.product.price}"></span><br>

</div>

</body>
</html>
</html>
