<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
<h2>Cart</h2>

<!--<div>-->

<!--    <div th:each="product : ${products}"-->
<!--         style="border:1px solid black; width:200px; padding:10px; margin:10px; display:inline-block; text-align:center;">-->

<!--        <img th:src="${product.img}" width="150" height="180"><br><br>-->

<!--        <b th:text="${product.name}">Product Name</b><br>-->

<!--        $<span th:text="${product.price}">0</span>-->

<!--        <a th:href="@{/productdetails/{id}(id=${product.id})}">-->
<!--            <button>View Product</button>-->
<!--        </a>-->

<!--    </div>-->

<!--</div>-->
</body>
</html>