<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MarketPlace</title>
</head>
<body>
    <nav>
        <button>Filter</button>
        <a href="/orders"><button>Orders</button></a>
        <a href="/cart"><button>Cart</button></a>
        <a href="/login"><button>Login</button></a>
    </nav>


    <h1>Marketplace Products</h1>

    <!-- Product 1 -->
    <div>
        <img src="https://m.media-amazon.com/images/I/71Tg6yQIDaL._AC_SX679_.jpg" alt="Product 1" width="150" height="200">
        <h3>Product 1</h3>
        <p>$100</p>
        <a href="/productdetails"><button>View Product</button></a>
    </div>
    <hr>

    <!-- Product 2 -->
    <div>
        <img src="https://m.media-amazon.com/images/I/71SyDkxOOFL._AC_SX679_.jpg" alt="Product 2" width="150" height="200">
        <h3>Product 2</h3>
        <p>$90</p>
        <a href="/productdetails"><button>View Product</button></a>
    </div>
    <hr>

    <!-- Product 3 -->
    <div>
        <img src="https://m.media-amazon.com/images/I/71nYFuDIWnL._AC_SX679_.jpg" alt="Product 3" width="150" height="200">
        <h3>Product 3</h3>
        <p>$115</p>
        <a href="/productdetails"><button>View Product</button></a>
    </div>
    <hr>

</body>
</html>

