<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MarketPlace</title>
</head>
<body>
    <nav>
        <button>Filter</button>
        <a href="/orders"><button>Orders</button></a>
        <a href="/cart"><button>Cart</button></a>
        <a href="/login"><button>Login</button></a>
    </nav>

    <div th:if="${user != null}">
        <h3>Hello <span th:text="${user.username}"></span> 👋</h3>
    </div>

    <div th:if="${user == null}">
        <a th:href="@{/login}">Login</a>
    </div>

    <h2>Products</h2>

    <div>

        <div th:each="product : ${products}"
             style="border:1px solid black; width:200px; padding:10px; margin:10px; display:inline-block; text-align:center;">

            <img th:src="${product.img}" width="150" height="180"><br><br>

            <b th:text="${product.name}">Product Name</b><br>

            $<span th:text="${product.price}">0</span>

            <a th:href="@{/productdetails/{id}(id=${product.id})}">
                <button>View Product</button>
            </a>

        </div>

    </div>

</body>
</html>

